.App {
  width: 100vmax;
  max-width: 100%;
  overflow-x: hidden;
  padding: 5px 15px 25px 15px;
  background-color: #2744a6;
  color: #ffffff;
  font-size: 14px;
  font-family: sans-serif;
  h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.resumeSite {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 14px;
  &:hover {
    color: red;
  }
  transition: all 0.4s ease;
}

.header {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  .header-txt {
    margin: auto;
  }
  margin-bottom: 50px;
}

.photo img {
  width: 25vw;
}

.main {
  margin-top: 25px;

  ul.my-skills {
    display: inline-block;
    li {
      display: inline-block;
      background-color: #e1dfc7;
      color: #000000;
      padding: 5px;
      margin: 5px 5px;
      border-radius: 5px;
    }
  }
}

.portfolio {
  text-align: center;
}

.portfolio ul li {
  margin-bottom: 5px;
}

.contacts-wrap {
  div {
    padding: 5px;
    margin: 5px 0;
    a {
      display: block;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      text-decoration: underline;
      padding: 25px;
      padding-left: 80px;
      margin: 10px 0;
      background-image: url(../src/icon/phone3.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 64px 64px;
      transition: all 0.5s ease-in-out;
      &:hover {
        color: red;
        text-decoration: none;
        background-size: 50px 50px;
      }
    }
  }
}

.smallHead {
  color: #ffffff;
}

.link-viber {
  background-image: url(../src/icon/viber.png) !important;
}

.link-skype {
  background-image: url(../src/icon/skype.png) !important;
}

.link-mail {
  background-image: url(../src/icon/email2.png) !important;
}

.list-worked {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: minmax(50vw, auto);
}

.worked {
  text-align: center;

  img {
    max-height: 45vh;
    width: auto;
    margin: 0 auto;
    border: 2px solid rgb(182, 22, 161);
    transition: all 0.7s ease-in-out;
    &:hover {
      margin: 60px 0;
      transform: scale(1.15);
    }
  }
}

.reposit-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 5px 5px 10px black;
}

@media only screen and (max-width: 1080px) {
  .main {
    padding-left: 5vmax;
  }

  .list-worked {
    grid-template-columns: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .photo {
    margin: 0 auto;
  }
  .contacts-wrap div {
    margin: 0;
    padding: 0;
  }
}
